torch==2.1.0+cpu
torchvision==0.16.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
transformers>=4.30.0
albumentations
opencv-python-headless
Pillow
scikit-learn
pandas
numpy
matplotlib
streamlit
huggingface_hub
tqdm
timm
reportlab
